.weatherDetails {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 20px 16px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.details p {
  font-size: 14px;
}
.details img {
  width: 20px;
}
