.today {
  width: 100%;
  /* height: 100vh; */
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url('../../images/desktop/firstPage.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 30px;
}

.today::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
}

.today::-webkit-scrollbar-track {
  background: #1a2b3c;
  border-radius: 15px;
}

.today::-webkit-scrollbar-thumb {
  background-color: #ff6b09;
  border-radius: 15px;
  border: 3px solid;
}

.cityDetails {
  margin: 30px;
  width: 100%;
}

/* .timeAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.navigation {
  margin-bottom: 30px;
}
.error {
  color: red;
  background-color: #ffe5e5;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;

  border-radius: 30px;

  width: 400px;
}

.noData {
  color: #c4beb9;
  color: #659999;
  padding: 10px;
  border: 1px solid #659999;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

.noData:hover {
  background-color: #659999;
  color: #c4beb9;
  border: 1px solid #c4beb9;
}
.quoteBox {
  margin-top: 30px;
}

@media (min-width: 1025px) {
  .today {
    align-items: flex-start;
  }
  .timeAndDate {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: auto;

    position: absolute;
    bottom: -350px;
    left: 30px;
  }
  .navigation {
    margin-bottom: 30px;
    margin-left: auto;
  }
  .quoteBox {
    align-self: flex-end;
  }
}
