.hourlyEntry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin: 5px;

  background-color: rgba(16, 33, 54, 0.8);
  border-radius: 30px;

  /* overflow-y: auto; */
  height: 100%;
}

.hourlyEntry p {
  margin: 0;
  font-size: 14px;
  color: white;
}

.detailsWind :hover {
  cursor: pointer;
  color: #ce9233;
}

.temp p {
  color: #767d85;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.wind {
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* border: 1px solid #ce9233; */
  border-radius: 30px;
  width: 100%;

  padding: 10px;
  margin-bottom: 10px;
}

.windDetails {
  color: #767d85;
  display: flex;
  flex-direction: column;

  padding-bottom: 10px;
}

.feels {
  color: #767d85;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
