.forecastEntry {
  width: 300px;
  height: 100%;
  padding: 35px 50px 35px 50px;
  margin: 20px;
  background: rgba(16, 33, 54, 0.8);
  border-radius: 30px;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  /* flex-shrink: 0; */
}
.formattedDate {
  font-size: var(--fontSize26);
  line-height: 20px;
  font-weight: var(fontWeight400);

  /* overflow: hidden;
  max-width: 200px; */
  white-space: nowrap;
}

.formattedMonth {
  font-size: var(--fontSize28);
  /* line-height: 20px; */
  color: #767d85;
}

.temp {
  color: #fff;
  font-size: var(--fontSize28);
  /* line-height: 16.8px; */
}
.feelsLike {
  color: #767d85;
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: var(--fontSize20);
  /* line-height: 20px; */
}
.feelsLikeTemp {
  color: #fff;
  font-size: var(--fontSize20);
  /* line-height: 20px; */
}
.minMaxtempBox {
  display: flex;
  flex-direction: row;
  gap: 15px;

  color: #767d85;
}

.minMaxtempBox p {
  font-size: var(--fontSize20);
}

.minMax {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tempMinMax {
  color: #ff6b09;
}

.span {
  color: #767d85;
  display: flex;
  align-items: center;
}

.line {
  background-color: #767d85;
  width: 1px;
  height: 40px;
}

.minMaxtempBox {
  font-size: var(--fontSize20);
  /* line-height: 20px; */
}

.moreInfo,
.hoursInfo {
  background: none;
  border: none;
  color: #767d85;
  border-bottom: 1px solid #fff;
  margin: 5px;

  font-size: var(--fontSize20);
  line-height: 20px;
  font-weight: var(fontWeight400);
}

.moreInfo:hover,
.hoursInfo:hover {
  color: #ff6b09;
  border-bottom: 1px solid #ff6b09;
}
