.fiveDays {
  width: 100%;
  height: 100vh;

  background-image: url('../../images/desktop/secondPage.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation {
  padding-top: 30px;
}

.title {
  margin-top: 30px;
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;

  margin-top: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;

  margin-top: 30px;
}
.navButton {
  background-color: white;
  border-radius: 20px;
  border: 1px solid lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;

  width: 50px;
  height: 30px;
}

.navButton:hover {
  background-color: #ce9233;
  border-color: black;
}

.navButton:disabled {
  background-color: #f0f0f0;
  border-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.noData {
  color: #c4beb9;
  color: #659999;
  padding: 10px;
  border: 1px solid #659999;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
}

.noData:hover {
  background-color: #659999;
  color: #c4beb9;
  border: 1px solid #c4beb9;
}

.hourlyForecast {
  background-color: #102136;
  border-radius: 30px;
  border: 1px solid #ce9233;
  margin: 20px;
}

.hourlyForecast h3 {
  color: white;
  padding-top: 30px;
}

.hourlyEntries {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 30px;
}

.hourlyPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;

  margin-top: 30px;
  padding-bottom: 30px;
}
