.cityDetailsContainer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 300px;
  height: 100%;

  padding: 30px 50px 30px 50px;

  background: rgba(16, 33, 54, 0.8);
  border-radius: 30px;
}

.location h1 {
  color: #767d85;
  font-size: 16px;
  line-height: 19.2px;
}

.temperature {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  margin-bottom: 20px;
}

.dailyTemp {
  color: #fff;
  font-size: 45px;
}

.minmax {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.min,
.max {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: #767d85;
}
.value {
  color: white;
}

.span {
  color: #27384a;
  display: flex;
  align-items: center;
}

.line {
  background-color: #ce9233;
  width: 1px;
  height: 40px;
}
